*.gen
*.o
*.o.s
*/obj/res.s
*/obj/*.gen
*/obj/*.elf
*/obj/*.bin
*/obj/*.o
*/obj/*.o.s
*.swp
mdk/util/megaloader
mdk/util/bin2s
mdk/util/bin2h
mdk/util/binpad
mdk/util/bsplit
mdk/util/pngto
mdk/util/blastem64-0.6.2/*
